/* frontend/src/index.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}